---
import '@fontsource-variable/oswald';
import "#/styles/global.css";

import { ThemeToggle } from "#/components/theme-toggle";
import { FormAndResults } from "#/components/form-and-results";
import { Calculator } from 'lucide-react';
---

<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');

	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

		<div class="max-w-4xl mx-auto p-6 space-y-6">
      <div class="flex flex-col md:flex-row items-center justify-between mb-6 justify-items-center">
        <div class="text-center flex-13">
          <h1 class="text-3xl font-bold flex items-center justify-center gap-2">
            <Calculator className="size-8" />
            Calorie Calculator
          </h1>
          <p class="text-muted-foreground mt-2">
            Calculate your daily caloric needs based on your personal information and fitness goals
          </p>
        </div>
        <div class="mt-4 md:mt-0">
          <ThemeToggle client:load />
        </div>
      </div>

			<FormAndResults client:load />

	</body>
</html>
